#boards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  * {
    cursor: pointer;
  }
  button {
    width: 35px;
    height: 32px;
    border: none;
    background-image: url("images/sea.png");
    &:hover, &:focus {
      position: relative;
      outline: thick dashed #aa0000;
    }
    &:disabled {
      background-image: url("images/sea-gray.png") !important;
      &:hover {
        outline: none;
      }
    }
  }
}

#fp-board, #sp-board {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  grid-gap: 3px;
  margin: 2.5rem;
}

#board-layer {
  height: 100vh;
  width: 100vw;
  position: sticky;
  top: 0;
  background-color: #ff8888;
  display: flex;
  align-items: center;
  justify-content: center;
}
