.current-ship { background: orange !important; }
.board-Carrier { background: #ed635e !important; }
.board-Battleship { background: #c2bf56 !important; }
.board-Submarine { background: #7e9db4 !important; }
.board-Destroyer { background: #ee7d77 !important; }

$parts: SHIP-head, SHIP-body, SHIP-tail;
$orientations: horizontal, horizontal-reverse, vertical, vertical-reverse;

.sea-button {
  background-image: url("images/sea.png");
}

@each $part in $parts {
  @each $orientation in $orientations {
    $mix: #{$part}-#{$orientation};
    .#{$mix} {
      background: url("images/#{to-lower-case($mix)}.png");
    }
  }
}

.gray-sea-button {
  background-image: url("images/sea-gray.png");
  &:hover {
    outline: none;
  }
}
