.board-Carrier {
  background: #ed635e !important;
}

.board-Battleship {
  background: #c2bf56 !important;
}

.board-Submarine {
  background: #7e9db4 !important;
}

.board-Destroyer {
  background: #ee7d77 !important;
}
