html, body, div, span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

#root {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

@import "./boards/boards.scss";
@import "./ships/ships.scss";
