* {
  box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

#root {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 2rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

@import "./boards/boards.scss";
@import "./ships/ships.scss";
